body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000000;
}

.indentIt {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #661313;
  }
  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
  }
  
  div > div {
    padding: 10px;
  }